.titulo-principal{
font-family: cursive;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 132.2%;
color: #3A7BDD;
float: left;
margin: 2%;
}
.cuerpo-modal{
position: relative;
width: 1043px;
height: 944px;
left: 155px;
top: 201px;
border: 1px solid rgba(0, 0, 0, 0.44);
border-radius: 10px;

}
.texto-izquierda{
    position: absolute;
width: 244.22px;
height: 25.51px;
left: 221px;
top: 214px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.025em;

color: #000000;

}
.texto-derecha{
position: absolute;
width: 244.22px;
height: 25.51px;
left: 685px;
top: 214px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.025em;

color: #000000;
}
.columas{
    column-count: 2;
}