.container {
  display: flex;
  flex-direction: column;

  .titulo-principal {
    font-family: cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    line-height: 132.2%;
    color: #3a7bdd;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      max-width: 150px;
    }
  }
  .cuerpo-modal {
    display: flex;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    flex-direction: column;
    padding: 2rem;
    .item_1 {
      display: flex;
      text-align: center;
      width: 100%;
      &_left {
        text-align: initial;
        width: 35%;
        > div {
          width: 70%;
          border-radius: 17px;
        }
      }
      &_right {
        text-align: initial;
        width: 65%;
        > div {
          width: 100%;
          div {
            border-radius: 15px;
          }
        }
      }
    }
    .item_2 {
      padding: 2rem 0;
      text-align: initial;
      > div {
        width: 100%;
        div {
          border-radius: 15px;
        }
      }
    }
    .item_3 {
      padding: 0.5rem 0;
      text-align: initial;
    }
    .item_4 {
      padding: 1rem 0;
      text-align: initial;
      p {
        margin-bottom: 0.6rem;
      }
      .button-subir {
        margin-top: 1.5rem;
        padding: 1rem;
        width: 200px;
        border-radius: 25px;
      }
    }
  }
  .registerSave {
    text-align: end;
    .button-registrar {
      width: 200px;
      padding: 1rem;
      margin: 1.5rem;
      border-radius: 25px;
    }
  }
}
